$primary: #c9a96a;

@mixin flexCenterCol {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

$spaceamounts: (1, 2, 3, 4, 5, 6, 7, 8, 9, 10);

@each $space in $spaceamounts {
  .p-t-#{$space} {
    padding-top: #{$space}rem;
  }
}

@each $space in $spaceamounts {
  .m-t-#{$space} {
    margin-top: #{$space}rem;
  }
}
